@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* Section-title */

#title {
  padding: 20px;
  padding-bottom: 20%;
  text-align: center;
  background: #17181b;
  width: 100%;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.container {
  width: calc(100% + 30px);
  padding-right: 0;
  padding-left: 0;
  margin-left: -30px;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 35px -8%;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-family: "Oswald", sans-serif;
}

.nav-link {
  font-size: 1.5rem;
}

.content h1 {
  text-align: left;
  font-size: 120px;
  line-height: 140px;
  font-weight: 600;
  position: relative;
  top: 100px;
}

.content p {
  text-align: left;
  max-width: 500px;
  line-height: 100px;
  opacity: 0;
  position: relative;
  top: 50px;
}

.links {
  position: absolute;
  top: 600px;
  left: 140px;
  word-spacing: 100px;
}

.links a {
  color: #fff;
  text-decoration: inline-block;
}

.slide-left {
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

p.slide-left {
  animation-delay: 1s;
}

.links.slide-left {
  animation-delay: 2s;
}

.custom-btn {
  width: 130px;
  height: 40px;
  left: -10%;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  letter-spacing: 0.2px;
  transition: all 0.3s ease;
  animation: drop 3s linear forwards;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-11 {
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgb(255, 53, 130) 100%
  );
  color: #fff;
  overflow: hidden;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0%;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: 100;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@keyframes drop {
  0% {
    transform: translateY(-50px) scaleY(0.9);
    opacity: 0;
  }
  50% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* Section-Title END */

/* Section-Features */

#features {
  display: flex;
  width: 100%;
  max-height: 100vh;
  justify-content: center;
  padding: 2% 15%;
  background-image: linear-gradient(
    rgb(1, 12, 14),
    rgb(51, 114, 126),
    rgba(20, 31, 31, 0.788)
  );
  position: relative;
}

.feature-box {
  width: 100%;
  align-items: center;
  left: 100px;
}

.feature-box h1 {
  font-size: 50px;
  line-height: 140px;
  color-adjust: linear-gradient(
    rgba(244, 228, 133, 0.678),
    rgba(75, 69, 194, 0.982)
  );
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: drop 5.6s linear forwards;
}

@keyframes drop {
  0% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

.lamp-container {
  position: relative;
}

.lamp {
  width: 220px;
  top: -100px;
  position: relative;
  z-index: 1;
}

.light {
  position: relative;
  top: -150px;
  left: 100px;
  z-index: 0;
  transform: translateX(-50%);
  width: 650px;
  opacity: 0;
  transition: opacity 1s;
}

.label {
  top: -710px;
  left: 500px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: transparent;
  position: relative;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 4px 0px #d1d9e674 inset, -4px -4px 4px 0px #ffffff9e inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #02111cbe;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.5s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow: -8px -4px 8px 0px #ffffff7d, 8px 4px 12px 0px #d1d9e691;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.on {
  opacity: 1;
}

/* Section-Features END */

/* Section-Testimonials */

#testimonials {
  padding: 5% 10%;
  align-items: center;
  background-image: linear-gradient(rgba(20, 31, 31, 0.788), rgb(1, 16, 14));
  color: #fff;
}

.circle-text {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.skill {
  text-align: center;
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: bold;
  color: rgb(190, 188, 188);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dasharray: 472;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 300;
  }
}

/* _______Progress Bar Second_______ */

.skill1 {
  align-items: center;
  left: 100px;
  width: 260px;
  height: 160px;
  position: relative;
}

.outer1 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner1 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number1 {
  font-weight: bold;
  color: rgb(190, 188, 188);
}

.circle1 {
  fill: none;
  stroke: url(#GradientColor1);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dasharray: 472;
  animation: anim1 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim1 {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 120;
  }
}

/* ______Progress Bar Third_____ */

.skill2 {
  align-items: center;
  left: 150px;

  width: 160px;
  height: 160px;
  position: relative;
}

.outer2 {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner2 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number2 {
  font-weight: bold;
  color: rgb(190, 188, 188);
}

.circle2 {
  fill: none;
  stroke: url(#GradientColor2);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dasharray: 472;
  animation: name 2s linear forwards;
  color: rgb(255, 0, 247);
}

@keyframes name {
  0% {
    stroke-dashoffset: 500;
  }

  100% {
    stroke-dashoffset: 220;
  }
}

/* Section-Testimonials END */

/* Section-Press  */

#press {
  background-color: #f9cbc4;
  color: #fff;
  text-align: center;
  padding: 10 0;
  padding-bottom: 3%;
  word-spacing: 200px;
}

/* Section-Press END */

/* Section-Pricing */

#pricing {
  background-color: #ff4c68;
}

/* Section-Pricing END */

/* SECTION-cta  */

#cta {
  background-color: #cae5ff;
  padding-top: 3%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* SECTION-cta END */

/* Section-Footer */

#footer {
  text-align: center;
  background-color: rgb(201, 240, 255);
  padding: 2%;
  padding-top: 2%;
  font-family: "Oswald", sans-serif;
  word-spacing: 2px;
}

/* Section-Footer END */

/* RESPONSIVE CSS TAG */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  #press {
    background-color: #e2fafb;
    color: #fff;
    text-align: center;
    padding: 10 0;
    padding-bottom: 3%;
    word-spacing: 200px;
  }

  #cta {
    background-color: #a0d1ff;
    padding: 10%;
    padding-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .links {
    position: relative;
    top: 0px;
    word-spacing: 20px;
  }
}
